<div id="userInfo">
    <h1>Welcome {{username}}!</h1>
    <p>First Name: {{firstName}}</p>
    <p>Last Name: {{lastName}}</p>
    <p>Email: {{email}}</p>
    <p>Bio: {{bio}}</p>

    <p>Edit Information</p>
    <form id='form' action="/users" method="POST">
        <label>Username
            <input id='username' name='username' placeholder="First Name" value="{{username}}">
        </label>
        <label>First Name
            <input id='firstName' name-'firstName' placeholder="First Name" value="{{firstName}}">
        </label>
        <label>Last Name
            <input id='lastName' name='lastName' placeholder="Last Name" value="{{lastName}}">
        </label>
        <label>Email
            <input id='email' name='email' placeholder="Email" value="{{email}}">
        </label>
        <label>Password
            <input id='password' name='password' placeholder="Please fill in current or new password">
        </label>
        <label>Bio
            <input id='bio' name='bio' placeholder="Bio" value="{{bio}}">
        </label>
        <input id='userId' name='userId' value={{_id}} hidden>
        <input id="hiddenInput" name='hiddenInput' value='true' hidden>
        <button type="submit">Submit</button>
    </form>

    <a id='delete' src='/users/{{_id}}'>Delete Account</a>
</div>