<h3 id="restaurantName">{{restaurant.name}}</h3>

<div id="map" style="width: 500px; height: 300px;"></div>
<input id="lat" value="{{restaurant.location.latitude}}" hidden>
<input id="lng" value="{{restaurant.location.longitude}}" hidden>
<input id="ad" value="{{restaurant.location.address}}" hidden>
<input id="rId" value="{{restaurant._id}}" hidden>

<dl id="restaurantInfo">
    <dt class="restElem">Location</dt>
    <dd>{{restaurant.location.address}}</dd>
    
    <dt class="restElem">Categories</dt>
    {{#each restaurant.categories}}
    <dd>{{this}}</dd>
    {{/each}}

    <dt class="restElem">Rating</dt>
    <dd>{{restaurant.rating}}</dd>

    <dt class="restElem">Service Modes</dt>
    {{#each restaurant.serviceModes}}
    <dd>{{this}}</dd>
    {{/each}}

    <dt class="restElem">Frequent Tags</dt>
    {{#each restaurant.frequentTags}}
    <dd>{{this}}</dd>
    {{/each}}

    <dt class="restElem">Menu</dt>
    <dd><a href="{{restaurant.menu}}">{{restaurant.menu}}</a></dd>

    <dt class="restElem">Hours</dt>
    <dd>To be Implemented</dd>

    <dt class="restElem">Featured Items</dt>
    <dd>To be implemented</dd>
</dl>

{{#unless authenticated}}
    <p>You must be logged in to post a review</p>
{{/unless}}

{{#if authenticated}}
    <p>Post a Review</p>
    <form id="reviewForm" action="/restaurant/{{restaurant._id}}/reviews" method="POST">
        <label>Title
            <input id="title" class="reviewForm" name="title" type="text" placeholder="Title">
        </label>
        <label>Rating
            <input id="rating" class="reviewForm" name="rating" type="number" placeholder="Rating">
        </label>
        <label>Review
            <input id="content" class="reviewForm" name="content" type="text" placeholder="Type in review">
        </label>
        <label>Tags (separated by comma)
            <input id="tags" class="reviewForm" name="tags" type="text" placeholder="Tags">
        </label>
        <input id="restaurantId" name="restaurantId" value="{{restaurant._id}}" hidden>
        <button type="submit">Post</button>
    </form>
    <p id="error"></p>
{{/if}}

<h2>Reviews</h2>
<div id="reviewList">
{{#each restaurant.reviews}}
    <div id="review">
        <a href="/users/{{user.username}}">{{user.username}}</a>
        <!-- Create if_eq handlebars helper -->
        <h3>{{title}}</h3>
        <p>{{dateOfReview}}</p>
        <p>Rating: {{rating}}</p>
        <p>{{content}}</p>
        <ul>Tags</ul>
        {{#each tags}}
            <li>{{this}}</li>
        {{/each}}
        <dl>Comments</dl>
        {{#each comments}}
            <dt>{{this}}</dt>
            <dd>{{this}}</dd>
        {{/each}}
    </div>
{{/each}}
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="../public/reviews.js"></script>
<script src="../public/map.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBskmPgQebgU7FK6gkSZ8uaobapslNno7s&callback=initMap&libraries=&v=weekly"></script>

<!--tags, user with link, review
if user logged in who posted the review, update and delete button-->