<h1>{{restaurant.name}}</h1>
<dl id="restaurantInfo">
    <dt>Location</dt>
    <dd>{{restaurant.location.address}}</dd>
    
    <dt>Categories</dt>
    {{#each restaurant.categories}}
    <dd>{{this}}</dd>
    {{/each}}

    <dt>Rating</dt>
    <dd>{{restaurant.rating}}</dd>

    <dt>Service Modes</dt>
    {{#each restaurant.serviceModes}}
    <dd>{{this}}</dd>
    {{/each}}

    <dt>Frequent Tags</dt>
    {{#each restaurant.frequentTags}}
    <dd>{{this}}</dd>
    {{/each}}

    <dt>Menu</dt>
    <dd><a href="{{restaurant.menu}}">{{restaurant.menu}}</a></dd>

    <dt>Hours</dt>
    <dd>To be Implemented</dd>

    <dt>Featured Items</dt>
    <dd>To be implemented</dd>
</dl>

{{#unless authenticated}}
    <p>You must be logged in to post a review</p>
{{/unless}}

{{#if authenticated}}
    <p>Post a Review</p>
    <form id="reviewForm" action="/restaurant/{{restaurant._id}}/reviews" method="POST">
        <label>Title
            <input id="title" name="title" type="text" placeholder="Title">
        </label>
        <label>Rating
            <input id="rating" name="rating" type="number" placeholder="Rating">
        </label>
        <label>Review
            <input id="content" name="content" type="text" placeholder="Type in review">
        </label>
        <label>Tags (separated by comma)
            <input id="tags" name="tags" type="text" placeholder="Tags">
        </label>
        <input id="restaurantId" name="restaurantId" value="{{restaurant._id}}" hidden>
        <button type="submit">Post</button>
    </form>
    <p id="error"></p>
{{/if}}

<h2>Reviews</h2>
<div id="reviewList">
{{#each restaurant.reviews}}
    <div id="review">
        <a href="/users/{{user.username}}">{{user.username}}</a>
        <h3>{{title}}</h3>
        <p>{{dateOfReview}}</p>
        <p>Rating: {{rating}}</p>
        <p>{{content}}</p>
        <ul>Tags</ul>
        {{#each tags}}
            <li>{{this}}</li>
        {{/each}}
        <dl>Comments</dl>
        {{#each comments}}
            <dt>{{this}}</dt>
            <dd>{{this}}</dd>
        {{/each}}
    </div>
{{/each}}
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="../public/reviews.js"></script>

<!--tags, user with link, review
if user logged in who posted the review, update and delete button-->