<div id="userInfo">
    <h1>{{user.username}}</h1>
    <img src={{user.profilePicture}} alt={{user.username}}>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <p>Bio: {{user.bio}}</p>
    <div id="userReviews">
        <h2>Reviews</h2>
        {{#each user.reviews}}
            <dl id="userReview">
                <dt>Title</dt>
                <dd>{{title}}</dd>

                <dt>Restaurant</dt>
                <dd>{{restaurantReviewed}}</dd> <!-- Add link to restaurant -->

                <dt>Rating</dt>
                <dd>{{rating}}</dd>

                <dt>Date</dt>
                <dd>{{dateOfReview}}</dd>

                <dt>Tags</dt>
                <dd><ul></ul></dd>
                {{#each tags}}
                    <li>{{this}}</li>
                {{/each}}

                <p>{{content}}</p>
            </dl>
        {{/each}}
    </div>
    <div id="userComments">
        <h2>Comments</h2>
        {{#each user.comments}}
            <dl id="userComment">
                <dt>Date</dt>
                <dd>{{this.date}}</dd>

                <dt>Comment</dt>
                <dd>{{this.comment}}</dd>
            </dl>
        {{/each}}
    </div>
</div>